.vscode/launch.json
.vscode/tasks.json
Henkel/obj/Debug/net6.0/Henkel.assets.cache
Henkel/obj/Debug/net6.0/Henkel.GeneratedMSBuildEditorConfig.editorconfig
Henkel/obj/Debug/net6.0/Henkel.assets.cache
Henkel/obj/Debug/net6.0/Henkel.assets.cache
Henkel/obj/Debug/net6.0/Henkel.GeneratedMSBuildEditorConfig.editorconfig
